.sec_sp {
  margin-bottom: calc(3rem + 5.128vw);
}

.table td,
.table th {
  color: var(--text-color);
  background: transparent;
}

.table td img {
  height: 20px;
  width: auto;
}

.t_border {
  border-color: var(--text-color) !important;
}

.invert_img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
