@import "../theme.scss";
#nav {
  backdrop-filter: blur(10px);
  font-family: "Josefin Sans", sans-serif;
  background-color: rgba($black, 0.25);

  * {
    .nav-item {
      margin: 0 0.4em;
      padding-right: 0.5em;
      border-bottom: 0.01em solid transparent;
      &:hover {
        border-bottom: 0.1em solid $white;
      }
    }
    .dropdown-menu {
      backdrop-filter: blur(10px);
      background-color: rgba($black, 0.25);
      .dropdown-item {
        color: darken($white, 25%);
        &:hover {
          background: rgba($black, 0.5);
          color: $white;
        }
      }
    }
  }

  #brandLogo {
    background: linear-gradient(
      -45deg,
      lighten($red, 0%),
      lighten($pink, 0%),
      lighten($dark_purple, 0%),
      lighten($purple, 0%),
      lighten($cyan, 0%),
      lighten($blue, 0%),
      lighten($vibrant_green, 0%),
      lighten($green, 0%),
      lighten($yellow, 0%),
      lighten($orange, 0%)
    );
    background-size: 400% 400%;
    -webkit-mask: url(/src/image/logo.svg) left/contain;
    mask: url(/src/img/logo.svg) left/contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 1.25em;
    width: 1.25em;
    margin: 0 0.5em;
    animation: gradient 15s ease infinite;
  }
  * {
    #nav-icons {
      width: 10vw;
      i {
        padding: 0.15em;
        font-size: 1.5em;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
