@import "../base";

#home-about-email {
  form {
    input,
    textarea {
      font-family: "Poppins", sans-serif;
      font-size: 1.25em;
      margin-bottom: 2em;
      width: 90%;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 0.1em solid $baby_pink;
      color: $white;
      &:focus {
        border-bottom: 0.1em solid $red;
        outline: none;
        &::placeholder {
          color: white;
        }
      }
      &::placeholder {
        color: darken($white, 20%);
      }
    }
    #home-about-email-send-btn {
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      color: $purple;
      background: transparent;
      border: 3px solid $purple;
      padding: 8px 40px;
      width: 35%;
      border-radius: 80px;
      font-weight: bold;
      margin: 2vh 0px;
      transition: 0.4s ease-in-out;
    }
    #home-about-email-send-btn:hover {
      box-shadow: 0px 10px 40px rgba($dark_purple, 0.8);
      background: $dark_purple;
      color: $white;
      border-color: $dark_purple;
      cursor: pointer;
      outline: none;
    }
  }
}
