html,
body {
  padding: 0;
  margin: 0
}

* {
  transition: 0.25s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.backgroundGradient {
  --size: 70vmin;
  --speed: 20s;

  width: var(--size);
  height: var(--size);
  max-height: 100vh;
  filter: blur(calc(var(--size) * 10));
  animation: rotate var(--speed) cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  border-radius: 100%;
}
