.sec .intro {
  width: 1000px;
  margin: 0 auto;
}

.sec .intro .content {
  position: relative;
  z-index: 10px;
}

.sec .intro .feature .wrap-icon {
  background: 0 0 !important;
  width: auto;
  height: auto;
  margin-bottom: 0;
}

.sec .intro .feature .wrap-icon svg {
  color: #5cccc9;
}

.sec .intro h1 {
  font-size: 6em !important;
}

.sec .intro h2 {
  font-size: 3em !important;
}

.sec .intro p {
  font-size: 1.6em;
}

.sec .intro .btn {
  font-size: 1.5em;
}

.sec .intro .logo {
  position: absolute;
  z-index: 0;
  height: 500px;
  width: 500px;
  top: 25%;
  left: 40%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--overlay-color);
}

.btn-portfolio {
  background: var(--primary-color);
  border-radius: 0;
}

@media (max-width: 991.98px) {
  .sec .intro {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sec .intro h1 {
    font-size: 64px !important;
  }

  .sec .intro h2 {
    font-size: 1.75rem !important;
  }

  .sec .intro p {
    font-size: inherit;
  }

  .sec .intro .btn {
    font-size: inherit;
  }

  .sec .intro .logo {
    height: 250px;
    width: 250px;
    left: 35%;
    top: 35%;
  }
}

.ac_btn {
  padding: 4px 19px;
  color: var(--secondary-color);
  border: var(--secondary-color) 2px solid;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 0 0 var(--secondary-color);
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  cursor: pointer;
  border-radius: 0;
  margin-right: 20px;
}

.ac_btn:hover {
  color: var(--primary-color);
  border: var(--secondary-color) 2px solid;
  box-shadow: inset 400px 0 0 0 var(--secondary-color);
}

#button_p {
  background: var(--secondary-color);
  color: var(--primary-color);
}

#button_h:hover {
  color: var(--primary-color);
}
