@import url(/src/style/css/theme.css);
#nav-toggle {
  width: 100vw;
 height: 100vh;
 background-color: var(--bg);
 z-index: 999;
 font-family: HackNFMono, "Courier New", Courier, monospace;
 transition: 1s;
 position: absolute;
 display: block;

 * {
   transition: 0.25s;
   text-decoration: none;
 }
 #toggle-close {
  margin: 1vw;
  content: "";
  background: transparent;
  border: none;
  display: block;
  position: absolute;
  right: 0;

  svg {
    height: 5vmax;
    width: 5vmax;
    fill: var(--color1);

    &:hover {
      fill: var(--color9);
    }
  }
 }
 .toggle-entry {
   margin: 7vmax;
  * {
    font-size: 3vmax;
    display: block;
    padding: 1vh 1vw;
    text-align: center;
    transition: 1s;
  }
  #home-entry {
    color: var(--color4);
    &:hover, &:active {
      box-shadow: inset 100vw 0 0 0 var(--color4);
      color: var(--color0);
    }
  }
  #projects-entry {
    color: var(--color5);
    &:hover, &:active {
      box-shadow: inset 100vw 0 0 0 var(--color5);
      color: var(--color0);
    }
  }
  #about-entry {
    color: var(--color1);
    &:hover, &:active {
      box-shadow: inset 100vw 0 0 0 var(--color1);
      color: var(--color0);
    }
  }
 }
 
 .toggle-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  * {

    font-size: 3vmax;
    display: inline-block;
    padding: 2vw;
  }
}
}
#cNav {
  padding: 2vh;
  position: fixed;
  z-index: 998;

  #nav-section1,
  #nav-section2,
  #nav-section3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #nav-section2 *,
  #nav-section3 * {
    margin: 0 0.65vh;
    transition: 0.25s;

  }

  
  * {
    text-decoration: none;
    font-family: HackNFMono, "Courier New", Courier, monospace;
  }

  .sociallink {
    font-size: 4vh;
  }

  .pagelink {
    font-size: 2.5vh;
  }

  .pagelink.active {
    color: var(--color7);
    background-color: var(--color4);
    border-radius: 15vh;
    padding: 0.75vh 1.5vh;
  }
  .pagelink.active:hover {
    color: var(--fg) !important;
}

  .brandBtn {
    height: 4vh;
    width: auto;
    border: none;
    background-color: transparent;
    .brandLogo {
      background: linear-gradient(
        to right,
        var(--color1),
        var(--color9),
        var(--color3),
        var(--color11),
        var(--color10),
        var(--color2),
        var(--color14),
        var(--color6),
        var(--color4),
        var(--color12),
        var(--color13),
        var(--color5)
      );
      background-size: 400% 400%;
      -webkit-mask: url(/src/image/logo.svg) center/contain;
      -webkit-mask-repeat: no-repeat;
      height: 4vh;
      width: 4vh;
      animation: gradient 15s ease infinite;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.hamburger-control {
  background: transparent;
  border: none;
  svg {
    fill: var(--color7);
    height: 4vh;
    width: 4vh;
  }
}
