@import url(/src/style/min.css/theme.min.css);
#slideshow {
  width: 100%;
  height: 50vh;
  position: relative;
}
#slideshow .slideshowIMG {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
#slideshow .slideshowText {
  position: absolute;
  margin: 10vh 12vw;
}
#slideshow .slideshowText h2 {
  font-family: CaskaydiaNFMono, "Courier New", Courier, monospace;
  font-size: 6vmax;
}
#slideshow .slideshowText p {
  font-size: 2.5vmax;
  font-family: GoMonoNFMono, "Courier New", Courier, monospace;
}
#slideshow .slideshow-control-container {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 6vw;
}
#slideshow .slideshow-control-container-left {
  border-right: 1px solid var(--color7);
}
#slideshow .slideshow-control-container-right {
  border-left: 1px solid var(--color7);
}
#slideshow .slideshow-control-text {
  transform: rotate(-90deg);
}

.typeWriterCont {
  margin: 2.5vmax;
}

.typeWriterGreetings {
  font-size: 5.5vmax;
  font-family: JetBrainsMonoNFMono, "Courier New", Courier, monospace;
  display: inline;
}

.typeWriterGreetingsIndicator {
  content: "";
  font-size: 5.5vmax;
  width: 5px;
  background-color: var(--color14);
  color: transparent;
  display: inline-block;
  -webkit-animation: blink-caret-greetings 0.65s step-end infinite;
          animation: blink-caret-greetings 0.65s step-end infinite;
}

@-webkit-keyframes blink-caret-greetings {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: var(--color14);
  }
}

@keyframes blink-caret-greetings {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: var(--color14);
  }
}
.typeWriterComments {
  font-size: 1.35vmax;
  font-family: JetBrainsMonoNFMono, "Courier New", Courier, monospace;
  display: inline-block;
  margin-top: 0.33vmax;
}
.typeWriterComments .coloredComment {
  opacity: 0.9;
}

#siteLinkBtnCont {
  margin: 2.5vmax;
}
#siteLinkBtnCont button {
  margin-right: 2vmax;
  box-sizing: border-box;
  background-color: transparent;
  padding: 1.25vmax 2.75vmax;
  border-radius: 0px;
  font-size: 1.25vmax;
  font-family: CaskaydiaNFMono, "Courier New", Courier, monospace;
  border-style: solid;
  transition: 0.4s ease-in-out;
  display: inline-block;
  overflow: hidden;
}
#siteLinkBtnCont button#projectsBtn {
  margin-right: 2vmax;
  background-color: transparent;
  border-color: var(--color5);
  color: var(--color5);
}
#siteLinkBtnCont button#projectsBtn:hover, #siteLinkBtnCont button#projectsBtn:focus {
  color: var(--color0);
  box-shadow: inset 10em 0 0 0 var(--color5);
}
#siteLinkBtnCont button#aboutBtn {
  margin-right: 2vmax;
  background-color: transparent;
  border-color: var(--color4);
  color: var(--color4);
}
#siteLinkBtnCont button#aboutBtn:hover, #siteLinkBtnCont button#aboutBtn:focus {
  color: var(--color0);
  box-shadow: inset 10em 0 0 0 var(--color4);
}
#siteLinkBtnCont button#contactBtn {
  margin-right: 2vmax;
  background-color: transparent;
  border-color: var(--color1);
  color: var(--color1);
}
#siteLinkBtnCont button#contactBtn:hover, #siteLinkBtnCont button#contactBtn:focus {
  color: var(--color0);
  box-shadow: inset 10em 0 0 0 var(--color1);
}

hr {
  border-color: var(--color7);
  margin: 0;
}/*# sourceMappingURL=home.css.map */