@font-face {
  font-family: HackNFMono;
  src: url(/src/fonts/Hack\ Regular\ Nerd\ Font\ Complete\ Mono.ttf);
}
@font-face {
  font-family: JetBrainsMonoNFMono;
  src: url(/src/fonts/JetBrains\ Mono\ Regular\ Nerd\ Font\ Complete\ Mono.ttf);
}
@font-face {
  font-family: CaskaydiaNFMono;
  src: url(/src/fonts/Caskaydia\ Cove\ Nerd\ Font\ Complete\ Mono\ Regular.otf);
}
@font-face {
  font-family: CodeNewRomanNFMono;
  src: url(/src/fonts/Code\ New\ Roman\ Nerd\ Font\ Complete\ Mono.otf);
}
@font-face {
  font-family: DejaVuSansNFMono;
  src: url(/src/fonts/DejaVu\ Sans\ Mono\ Nerd\ Font\ Complete\ Mono.ttf);
}
@font-face {
  font-family: GoMonoNFMono;
  src: url(/src/fonts/Go\ Mono\ Nerd\ Font\ Complete\ Mono.ttf);
}
:root {
  --bg: #0e1115;
  --fg: #ffffff;
  --color0: #171c21;
  --color1: #f7467b;
  --color2: #1addb0;
  --color3: #ff8a30;
  --color4: #2798e4;
  --color5: #9554ff;
  --color6: #2bcafc;
  --color7: #ddd;
  --color8: #2d3139;
  --color9: #ff62a4;
  --color10: #00ffb1;
  --color11: #ffc457;
  --color12: #53befc;
  --color13: #b467f9;
  --color14: #2bfcfc;
  --color15: #ffffff;
}

.bg {
  background-color: var(--bg);
}

.fg {
  color: var(--fg);
}

.color0 {
  color: var(--color0);
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.color3 {
  color: var(--color3);
}

.color4 {
  color: var(--color4);
}

.color5 {
  color: var(--color5);
}

.color6 {
  color: var(--color6);
}

.color7 {
  color: var(--color7);
}

.color8 {
  color: var(--color8);
}

.color9 {
  color: var(--color9);
}

.color10 {
  color: var(--color10);
}

.color11 {
  color: var(--color11);
}

.color12 {
  color: var(--color12);
}

.color13 {
  color: var(--color13);
}

.color14 {
  color: var(--color14);
}

.color15 {
  color: var(--color15);
}

.bgh:hover {
  color: var(--bg);
}

.fgh:hover {
  color: var(--fg);
}

.color0h:hover {
  color: var(--color0);
}

.color1h:hover {
  color: var(--color1);
}

.color2h:hover {
  color: var(--color2);
}

.color3h:hover {
  color: var(--color3);
}

.color4h:hover {
  color: var(--color4);
}

.color5h:hover {
  color: var(--color5);
}

.color6h:hover {
  color: var(--color6);
}

.color7h:hover {
  color: var(--color7);
}

.color8h:hover {
  color: var(--color8);
}

.color9h:hover {
  color: var(--color9);
}

.color10h:hover {
  color: var(--color10);
}

.color11h:hover {
  color: var(--color11);
}

.color12h:hover {
  color: var(--color12);
}

.color13h:hover {
  color: var(--color13);
}

.color14h:hover {
  color: var(--color14);
}

.color15h:hover {
  color: var(--color15);
}

.color0bg {
  background-color: var(--color0);
}

.color1bg {
  background-color: var(--color1);
}

.color2bg {
  background-color: var(--color2);
}

.color3bg {
  background-color: var(--color3);
}

.color4bg {
  background-color: var(--color4);
}

.color5bg {
  background-color: var(--color5);
}

.color6bg {
  background-color: var(--color6);
}

.color7bg {
  background-color: var(--color7);
}

.color8bg {
  background-color: var(--color8);
}

.color9bg {
  background-color: var(--color9);
}

.color10bg {
  background-color: var(--color10);
}

.color11bg {
  background-color: var(--color11);
}

.color12bg {
  background-color: var(--color12);
}

.color13bg {
  background-color: var(--color13);
}

.color14bg {
  background-color: var(--color14);
}

.color15bg {
  background-color: var(--color15);
}/*# sourceMappingURL=theme.css.map */