$white: #ffffff;
$darker_black: #0a0d11;
$black: #0e1115;
$black2: #171c21;
$one_bg: #212428;
$one_bg2: #2d3139;
$one_bg3: #33363a;
$grey: #3e4145;
$grey_fg: #45484c;
$grey_fg2: #4a4d51;
$light_grey: #525559;
$red: #f7467b;
$baby_pink: #ff62a4;
$pink: #ff75a0;
$line: #31353d;
$green: #00ffb1;
$vibrant_green: #1addb0;
$nord_blue: #53befc;
$blue: #2798e4;
$yellow: #ffc457;
$sun: #ffa246;
$purple: #b467f9;
$dark_purple: #9554ff;
$teal: #2bcafc;
$orange: #ff8a30;
$cyan: #2bfcfc;

// BACKGROUND CLASSES

.white-bg {
  background-color: $white !important;
}
.darker_black-bg {
  background-color: $darker_black !important;
}
.black-bg {
  background-color: $black !important;
}
.black2-bg {
  background-color: $black2 !important;
}
.one_bg-bg {
  background-color: $one_bg !important;
}
.one_bg2-bg {
  background-color: $one_bg2 !important;
}
.one_bg3-bg {
  background-color: $one_bg3 !important;
}
.grey-bg {
  background-color: $grey !important;
}
.grey_fg-bg {
  background-color: $grey_fg !important;
}
.grey_fg2-bg {
  background-color: $grey_fg2 !important;
}
.light_grey-bg {
  background-color: $light_grey !important;
}
.red-bg {
  background-color: $red !important;
}
.baby_pink-bg {
  background-color: $baby_pink !important;
}
.pink-bg {
  background-color: $pink !important;
}
.line-bg {
  background-color: $line !important;
}
.green-bg {
  background-color: $green !important;
}
.vibrant_green-bg {
  background-color: $vibrant_green !important;
}
.nord_blue-bg {
  background-color: $nord_blue !important;
}
.blue-bg {
  background-color: $blue !important;
}
.yellow-bg {
  background-color: $yellow !important;
}
.sun-bg {
  background-color: $sun !important;
}
.purple-bg {
  background-color: $purple !important;
}
.dark_purple-bg {
  background-color: $dark_purple !important;
}
.teal-bg {
  background-color: $teal !important;
}
.orange-bg {
  background-color: $orange !important;
}
.cyan-bg {
  background-color: $cyan !important;
}

// FOREGROUND CLASSES

.white-fg {
  color: $white !important;
}
.darker_black-fg {
  color: $darker_black !important;
}
.black-fg {
  color: $black !important;
}
.black2-fg {
  color: $black2 !important;
}
.one_bg-fg {
  color: $one_bg !important;
}
.one_bg2-fg {
  color: $one_bg2 !important;
}
.one_bg3-fg {
  color: $one_bg3 !important;
}
.grey-fg {
  color: $grey !important;
}
.grey_fg-fg {
  color: $grey_fg !important;
}
.grey_fg2-fg {
  color: $grey_fg2 !important;
}
.light_grey-fg {
  color: $light_grey !important;
}
.red-fg {
  color: $red !important;
}
.baby_pink-fg {
  color: $baby_pink !important;
}
.pink-fg {
  color: $pink !important;
}
.line-fg {
  color: $line !important;
}
.green-fg {
  color: $green !important;
}
.vibrant_green-fg {
  color: $vibrant_green !important;
}
.nord_blue-fg {
  color: $nord_blue !important;
}
.blue-fg {
  color: $blue !important;
}
.yellow-fg {
  color: $yellow !important;
}
.sun-fg {
  color: $sun !important;
}
.purple-fg {
  color: $purple !important;
}
.dark_purple-fg {
  color: $dark_purple !important;
}
.teal-fg {
  color: $teal !important;
}
.orange-fg {
  color: $orange !important;
}
.cyan-fg {
  color: $cyan !important;
}
