$white: #ffffff;
$darker_black: #0a0d11;
$black: #0e1115;
$black2: #171c21;
$one_bg: #212428;
$one_bg2: #2d3139;
$one_bg3: #33363a;
$grey: #3e4145;
$grey_fg: #45484c;
$grey_fg2: #4a4d51;
$light_grey: #525559;
$red: #f7467b;
$baby_pink: #ff62a4;
$pink: #ff75a0;
$line: #31353d;
$green: #00ffb1;
$vibrant_green: #1addb0;
$nord_blue: #53befc;
$blue: #2798e4;
$yellow: #ffc457;
$sun: #ffa246;
$purple: #b467f9;
$dark_purple: #9554ff;
$teal: #2bcafc;
$orange: #ff8a30;
$cyan: #2bfcfc;

// BACKGROUND CLASSES

.white-bg {
  background-color: $white;
}
.darker_black-bg {
  background-color: $darker_black;
}
.black-bg {
  background-color: $black;
}
.black2-bg {
  background-color: $black2;
}
.one_bg-bg {
  background-color: $one_bg;
}
.one_bg2-bg {
  background-color: $one_bg2;
}
.one_bg3-bg {
  background-color: $one_bg3;
}
.grey-bg {
  background-color: $grey;
}
.grey_fg-bg {
  background-color: $grey_fg;
}
.grey_fg2-bg {
  background-color: $grey_fg2;
}
.light_grey-bg {
  background-color: $light_grey;
}
.red-bg {
  background-color: $red;
}
.baby_pink-bg {
  background-color: $baby_pink;
}
.pink-bg {
  background-color: $pink;
}
.line-bg {
  background-color: $line;
}
.green-bg {
  background-color: $green;
}
.vibrant_green-bg {
  background-color: $vibrant_green;
}
.nord_blue-bg {
  background-color: $nord_blue;
}
.blue-bg {
  background-color: $blue;
}
.yellow-bg {
  background-color: $yellow;
}
.sun-bg {
  background-color: $sun;
}
.purple-bg {
  background-color: $purple;
}
.dark_purple-bg {
  background-color: $dark_purple;
}
.teal-bg {
  background-color: $teal;
}
.orange-bg {
  background-color: $orange;
}
.cyan-bg {
  background-color: $cyan;
}

// FOREGROUND CLASSES

.white-fg {
  color: $white;
}
.darker_black-fg {
  color: $darker_black;
}
.black-fg {
  color: $black;
}
.black2-fg {
  color: $black2;
}
.one_bg-fg {
  color: $one_bg;
}
.one_bg2-fg {
  color: $one_bg2;
}
.one_bg3-fg {
  color: $one_bg3;
}
.grey-fg {
  color: $grey;
}
.grey_fg-fg {
  color: $grey_fg;
}
.grey_fg2-fg {
  color: $grey_fg2;
}
.light_grey-fg {
  color: $light_grey;
}
.red-fg {
  color: $red;
}
.baby_pink-fg {
  color: $baby_pink;
}
.pink-fg {
  color: $pink;
}
.line-fg {
  color: $line;
}
.green-fg {
  color: $green;
}
.vibrant_green-fg {
  color: $vibrant_green;
}
.nord_blue-fg {
  color: $nord_blue;
}
.blue-fg {
  color: $blue;
}
.yellow-fg {
  color: $yellow;
}
.sun-fg {
  color: $sun;
}
.purple-fg {
  color: $purple;
}
.dark_purple-fg {
  color: $dark_purple;
}
.teal-fg {
  color: $teal;
}
.orange-fg {
  color: $orange;
}
.cyan-fg {
  color: $cyan;
}
